

.main {
    //background-color: red;
    //width: 100%;
}
.background{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-image: url(/illust/fefe.jpg);
}
.content {
    padding-top: 8em;
}

.top_image {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-image: url(/illust/dok.png);
}

@keyframes fadeInAnime{
    0% {
      transform: scale(0);
    }
  
    100% {
        transform: scale(1);
    }
  }

