/*for SP*/
@media screen and (max-width:768px) {
  html {
    font-size: 18px;
    font-weight: 600;
  }

  p {
    font-weight: 600;
  }

}

/*for tablet*/
@media screen and (min-width:768px) and (max-width:1024px) {
  html {
    font-size: 18px;
    font-weight: 600;
  }

  p {
    font-weight: 600;
  }

}

/*for PC*/
@media screen and (min-width:1024px) {
  html {
    font-size: 18px;
    font-weight: 600;
  }

  p {
    font-weight: 600;
  }


}




.scroll-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    
    cursor: pointer;
    
    display: flex;
    justify-content: center;
    align-items: center;


  }
  
  .scroll-top a {
    text-decoration: none;
    color: black;

    
  }


