.main-content {
    padding-top: 4em;
}

.bg01 {
    background: url(/top/me.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.bg02 {
    background: url(/top/me2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

header {
    padding-top: 2em;
    padding-bottom: 2em;
}

.main-content {
    padding-top: 8em;
    
}


.navbar-toggler {
    
    border-color: red;
    background-color: red;
  }
  