
li {
  list-style: none;
}



.bi-list {
  color: #F2163E;
}
.bi-x-circle {
  color: #F2F2F2;
}
li a{
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: #F2F2F2;
  
}

li h1 {
  color: #F2F2F2;
  font-size: 24px;
  font-weight: 600;

}

.menu {
  background-color: #F2163E;
  height: 100%;
  width: 100%;

}

.header {
  width: 100%;
}

