.test {
    background-color: red;
}

.divicon1{
    background:none;  text-align: left; 
    font-weight:600;
}

.leaflet-control { z-index: 0 !important}
.leaflet-pane { z-index: 0 !important}
.leaflet-top, .leaflet-bottom {z-index: 0 !important}