.main {
}



.behind {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -2;


    display: grid;
    grid-template-columns: auto;

    align-items: center;
    justify-content: center;
}
.front {
    padding-top: 100vh;

    border-bottom: solid black;
}


.section{
    padding-left: 20%;
    padding-right: 20%;
    height: 100vh;
    background-color: #F8F8F8;
}
.subpage_section {
    padding-top: 8em;
    padding-left: 20%;
    padding-right: 20%;
    min-height: 100vh;

    background-color: #F8F8F8;
    display: grid;
}
.subpage_container {
    width: 100%;
    align-self: center;
    justify-self: center;
}


@media screen and (max-width:768px) {
	/* 480px以下に適用されるCSS（スマホ用） */
    .behind {
        padding-left: 5%;
        padding-right: 5%;
    }
    .front section{
        padding-left: 5%;
        padding-right: 5%;
    }
    .subpage_section {
        padding-left: 5%;
        padding-right: 5%;
    }

}



.title {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.title span {

    border-bottom: solid;
}


/* dldtdd要素を横並びにする*/
.dl {

    
}
.dl div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 20px;

}

.dl dt {
    width: 35%;

}

.dl dd {
    width: 65%;

}


.profile {
    height: 50%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 256px;
    background-color: white;
    box-shadow: 10px 10px 0px #F2778D;
    border: solid;

}

.profile_text {
    display: grid;
    align-items: center;
}

.privacy {

    filter: blur(4px);

}


.profile_h5 {
    color: #A6A6A6
}




.profile_image_container {
    border: solid;
    height: 100%;
    width: 100%;
    align-items: center;
    position: relative;
    animation: fuwafuwa 3s ease-in-out infinite alternate;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.profile_image_container:hover {
    animation: fuwafuwa 0.5s ease-in-out infinite alternate;
}
.profile_image {
    filter: grayscale(100%);
    object-fit: cover;
}

@keyframes fuwafuwa {
    0% {
        transform: translate(0, 0) rotate(-7deg);
    }

    50% {
        transform: translate(0, -7px) rotate(0deg);
    }

    100% {
        transform: translate(0, 0) rotate(7deg);
    }
}

