.container {
  padding-bottom: 4em;
  width: 300px;
  height: 300px;
}

/*for SP*/
@media screen and (max-width:768px) {
  .container{
    width: 200px;
    height: 200px;
  }

}

/*for tablet*/
@media screen and (min-width:768px) and (max-width:1024px) {

}

/*for PC*/
@media screen and (min-width:1024px) {



}


.image {
  position: relative;
  width: 80%;
  height: 80%;
}

.slideImage {
  filter: grayscale(100%);
  object-fit: cover;
}
.mySwiper {
  width: 30%;
  height: 30%;
}


.mySwiper_slide {
  background-position: center;
  background-size: cover;
}

.mySwiper_slide img {
  display: block;
  width: 100%;
}
