
.image {

}

.slideImage {
  


    
}
.mySwiper {
  width: 30%;
  height: 30%;
}


.mySwiper_slide {
  background-position: center;
  background-size: cover;
}

.mySwiper_slide img {
  display: block;
  width: 100%;
}
