






.content_list {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}

footer {
    background-color: #CCCCCC;

}

.footer_container {
    padding-left: 20%;
    padding-right: 20%;
    min-height: 200px;
    display: flex;
    align-items: center;
}

.footer_items {
    margin-right: auto;
}